
Certainly! I've made the necessary corrections to your provided view page code to use the decimal_to_percentage method. Here's the corrected version of your view page:

erb
Copy code
<!-- app/views/bulk_discounts/index.html.erb -->

<h1>Bulk Discounts Index</h1>

<% if @bulk_discounts.present? %>
  <div class="bulk-discounts-list">
    <% @bulk_discounts.each do |bulk_discount| %>
      <div class="bulk-discount-item">
        <h2><%= bulk_discount.name %></h2>
        <p>Percentage: <%= bulk_discount.decimal_to_percentage %></p>
        <p>Quantity: <%= bulk_discount.quantity %></p>
        <p><%= link_to "More Info", merchant_bulk_discount_path(merchant_id: bulk_discount.merchant_id, id: bulk_discount.id) %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No bulk discounts found for this merchant.</p>
<% end %>
