<p><%= @bulk_discount.name%></p>
<p><%= @bulk_discount.percentage%></p>
<p><%= @bulk_discount.quantity_threshold%></p>
<p><%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %></p>