<h2> Coupon Index Page </h2>

<% @coupons.each do |coupon| %>
<section id="coupon-<%= coupon.id %>">
<ul>
<li>Coupon Name: <%= coupon.name %></li>Amount Off: <%= coupon.amount_off %> <%= coupon.discount %>
</ul>
<% end %>
</section>