<h1>Welcome to Little Esty Shop</h1>
<h2>Where would you like to go, Admin?</h2>

<ul>
  <li><a href="admin/merchants">Admin Merchants</a></li>
  <li><a href="/admin/dashboard">Admin Dashboard</a></li>
</ul>