<style>
  h1 {
    text-align: center;
    font-family: "Cool Font", fantasy;
    font-size: 50px;
  }
</style>

<h1>Welcome to Little Esty Shop!</h1>

<li><%= link_to 'Dashboard', admin_dashboard_index_path %></li>
<li><%= link_to 'Merchants', admin_merchants_path %></li>
<li><%= link_to 'Invoices', admin_invoices_path %></li>